---
---

@import "{{ site.theme }}";
footer {
  span.ribbon-inner {
    background-color: #7c334f;
  }
  span.octocat, p {
   visibility: hidden;
  }
}

a#forkme_banner {
  visibility: hidden;
}

.header-level-1,
.header-level-2,
.header-level-3 {
  border-bottom: 0px;
  text-align: justify;
}
