---
---

@import "{{ site.theme }}";
footer {
  span.ribbon-inner {
    p {
      visibility: hidden;
    }
    background-color: #7c334f;
  }
  .octocat, p {
   visibility: hidden;
  }
}

a#forkme_banner {
  visibility: hidden;
}
